/* Universal selector */
*{
    font-family: cursive;
}
body{
    background-color: aqua;
    color:red;
}
/* Element selector */
/* h1{
    background-color: blue;
    color: yellow;
} */
/* id seelctor */
/* #head{
    background-color: yellow;
    color: blue;
} */
 /* class selector */
 .main{
    background-color: blueviolet;
    color: rgb(7, 226, 18);
 }
 /* Multiple selector */
 /* selector1,selector2 */
 #head,
 .main{
    font-size: 40px;
 }
 /* Nested selector */
 .grandparent .parent .child{
    background-color: black;
    color: chartreuse;
 }